<section class="breadcrumb-outer text-center">
  <div class="container">
    <div class="breadcrumb-content">
      <h2>Add A New Hotel</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= blogs_path %>">Blogs</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="section-overlay"></div>
</section>

<section class="booking">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="booking-form booking-outer">
          <%= form_with(model: blog, local: true) do |form| %>
            <% if blog.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

                <ul>
                  <% blog.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="form-group col-xs-6">
                <%= form.label :title, style: 'text-transform: capitalize; ',class:"label-login" %>
                <%= form.text_field :title,placeholder:"Title of blog", style: 'text-transform: capitalize;', class:"form-control" %>
              </div>
              <div class="form-group col-xs-6">
                <label>Location if any </label>
                <%=  form.collection_select :locations_id, Location.all, :id, :name,{ prompt: true}, { class:"form-control label-input js-example-basic-single", required:"true"} %>
              </div>
              <div class="form-group col-xs-12">
                <%= form.label :description, style: 'text-transform: capitalize; ',class:"label-login" %>
                <%= form.cktext_area :description,placeholder:"Blog text", class:"form-control" %>
              </div>
              <div class="form-group col-xs-6">
                <%= form.label :image,style: 'text-transform: capitalize;', class:"label-login"  %>
                <%= form.file_field :image, class:"form-control" %>
              </div>
              <div class="col-xs-6">
                <div class="comment-btn">
                  <a href="javascript:$('form').submit()" class="btn-blue btn-red">Add Blog</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div id="sidebar-sticky" class="col-md-4">
        <aside class="detail-sidebar sidebar-wrapper">
          <div class="sidebar-item">
            <div class="detail-title">
              <h3>Popular Packages</h3>
            </div>
            <div class="sidebar-content sidebar-slider">
              <div class="sidebar-package">
                <div class="sidebar-package-image">
                  <img src="<%= image_path 'detailslider1.jpg' %>" alt="Image">
                </div>
                <div class="destination-content sidebar-package-content">
                  <h4><a href="tour-detail.html">Royal Caribbean Cruises</a></h4>
                  <div class="deal-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                  </div>
                  <p><i class="flaticon-time"></i> 5 days starts from <span class="bold">$659</span> </p>
                  <a href="#" class="btn-blue btn-red">Book Now</a>
                </div>
              </div>
              <div class="sidebar-package">
                <div class="sidebar-package-image">
                  <img src="<%= image_path 'detailslider2.jpg' %>" alt="Image">
                </div>
                <div class="destination-content sidebar-package-content">
                  <h4><a href="tour-detail.html">Bahamas Royal Cruises</a></h4>
                  <div class="deal-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                  </div>
                  <p><i class="flaticon-time"></i> 5 days starts from <span class="bold">$659</span> </p>
                  <a href="#" class="btn-blue btn-red">Book Now</a>
                </div>
              </div>
              <div class="sidebar-package">
                <div class="sidebar-package-image">
                  <img src="<%= image_path 'detailslider3.jpg' %>" alt="Image">
                </div>
                <div class="destination-content sidebar-package-content">
                  <h4><a href="tour-detail.html">Royal Caribbean Cruises</a></h4>
                  <div class="deal-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                  </div>
                  <p><i class="flaticon-time"></i> 5 days starts from <span class="bold">$659</span> </p>
                  <a href="#" class="btn-blue btn-red">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar-item sidebar-helpline">
            <div class="sidebar-helpline-content">
              <h3>Any Questions?</h3>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor incididunt ut.</p>
              <p><i class="flaticon-phone-call"></i> (012)-345-6789</p>
              <p><i class="flaticon-mail"></i> tourntravel@testmail.com</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
