<!-- Banner -->
<section id="home_banner">
  <!-- Paradise Slider -->
  <div id="kenburns_061" class="carousel slide ps_indicators_txt_icon ps_control_txt_icon kbrns_zoomInOut thumb_scroll_x swipe_x ps_easeOutQuart" data-ride="carousel" data-pause="hover" data-interval="10000" data-duration="2000">
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

      <!-- First Slide -->
      <div class="item active">
        <!-- Slide Background -->
        <img src="<%= image_path '1KhapluPalace.jpeg' %>" alt="kenburns_061_01" />
        <!-- Left Slide Text Layer -->
        <div class="kenburns_061_slide" data-animation="animated fadeInRight">
          <h2>Book a ticket & Just Leave</h2>
          <h1>Search your next destination</h1>

          <a href="<%= tours_path %>" class="btn-blue btn-red">View Our Tour</a>
        </div><!-- /Left Slide Text Layer -->
      </div><!-- /item -->

      <!-- End of Slide -->

      <!-- Second Slide -->
      <div class="item">
        <!-- Slide Background -->
        <img src="<%= image_path 'my8.jpeg' %>" alt="kenburns_061_02" />
        <!-- Right Slide Text Layer -->
        <div class="kenburns_061_slide kenburns_061_slide_right" data-animation="animated fadeInUp">
          <h2>exciting schemes just a click away</h2>
          <h1>Amazing Santorini 7 days tour</h1>
          <a href="<%= tours_path %>" class="btn-blue btn-red">View Our Tour</a>
        </div><!-- /Right Slide Text Layer -->
      </div><!-- /item -->

      <!-- Third Slide -->
      <div class="item">
        <!-- Slide Background -->
        <img src="<%= image_path 'my4.jpeg' %>" alt="kenburns_061_02" />
        <!-- Right Slide Text Layer -->
        <div class="kenburns_061_slide kenburns_061_slide_center" data-animation="animated fadeInDown">
          <h2>Cost friendly packages on your way</h2>
          <h1>We offer you better deals</h1>
          <a href="<%= tours_path %>" class="btn-blue btn-red">View Our Tour</a>
        </div><!-- /Right Slide Text Layer -->
      </div><!-- /item -->
      <!-- End of Slide -->

    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#kenburns_061" role="button" data-slide="prev">
      <span>prev</span>
      <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#kenburns_061" role="button" data-slide="next">
      <span>next</span>
      <span class="sr-only">Next</span>
    </a>
  </div> <!-- End Paradise Slider -->
</section>
<!-- Banner Ends -->

<!-- Search Box -->
<div class="search-box clearfix">
  <div class="container">
    <div class="search-outer">
      <div class="search-content">
        <form>
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="search-ad">
                <p>Find Your <span>Holiday</span></p>
                <i class="flaticon-sun-umbrella "></i>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="table_item">
                <div class="form-group">
                  <select name="custom-select-1" class="selectpicker form-control" tabindex="1">
                    <option value="0">Destination</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                  </select>
                  <i class="flaticon-maps-and-flags"></i>
                </div>
                <div class="form-group  form-icon">
                  <select name="custom-select-2" class="selectpicker form-control" tabindex="1">
                    <option value="0">Type</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                  </select>
                  <i class="flaticon-box"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="table_item">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" value="dd-mm-yyyy" />
                    <i class="flaticon-calendar"></i>
                    <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                  </div>
                </div>
                <div class="form-group form-icon">
                  <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" value="dd-mm-yyyy" />
                    <i class="flaticon-calendar"></i>
                    <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="table_item table-item-slider">
                <div class="range-slider">
                  <div data-min="0" data-max="2000" data-unit="$" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                    <span class="min-value">0 $</span>
                    <span class="max-value">2000 $</span>
                    <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="search">
                  <a href="#" class="btn-blue btn-red">SEARCH</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Search Box Ends -->

<!-- Popular Packages -->
<% if current_user %>
<section class="popular-packages">
  <div class="container">
    <div class="section-title text-center">
      <h2>Recommended Tours For You</h2>
      <div class="section-icon">
        <i class="flaticon-diamond"></i>
      </div>
      <p>Every one has their own taste and liking, so here are tours specially recommended for you.</p>
    </div>
    <div class="row package-slider slider-button">
      <%= render'recommendedtour', recommendedtours:@recommended_tours %>
    </div>
  </div>
</section>
  <%end%>
<!-- Popular Packages Ends -->

<!-- Deals -->
<section class="deals">
  <div class="container">
    <div class="section-title section-title-white text-center">
      <h2>Active tours</h2>
      <div class="section-icon">
        <i class="flaticon-diamond"></i>
      </div>
<p>The world is a book and those who do not travel read only a page. So, visit best trips here and get the best deals.</p>      <br>
      <a href="<%=trip_organizers_path%>" class="btn-blue btn-red">View All Trip Organizers</a>
    </div>
    <div class="deals-outer">
      <div class="row deals-slider slider-button">
        <%= render'tour', tours:@tours %>
      </div>
    </div>
  </div>
  <div class="section-overlay"></div>
</section>
<!-- Deals Ends -->

<!--* bucket*-->
<section id="bucket-list" class="bucket-list">
  <div class="bucket-icons">
    <div class="container">
      <div class="section-title text-center">
        <h2>Explore Different Types of Tourism </h2>
        <div class="section-icon">
          <i class="flaticon-diamond"></i>
        </div>
        <p>Pakistan has great potential and enriched with a lot of diverse culture. Keeping this in mind we are trying our best to provide every kind of tourism on this platform.</p>
      </div>
    </div>
  </div>
  <div class="bucket-content " style="background: white">
    <div class="container">
     <div class="row deals-slider slider-button">-->
        <%= render'tourismtypes', tourismtypes:@tourism_types %>
      </div>
  </div>
  </div>
</section>
<!--* End bucket*-->

<!-- Top Destinations -->
<section class="top-destinations">
  <div class="container">
    <div class="section-title text-center">
      <h2>Top Locations</h2>
      <div class="section-icon">
        <i class="flaticon-diamond"></i>
      </div>
      <p>From wild mountain passes to unreal lakes and ancient fortresses. It’s hard to imagine a more magnificent landscape than the rugged peaks, wind-swept plains of Pakistan.</p>
    </div>
    <div class="row deals-slider slider-button">
      <%= render 'location', locations:@locations %>
    </div>
  </div>
</section>
<!-- Top Destination Ends -->

<!-- Trip Ad -->
<!--<section class="trip-ad">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 col-xs-12">-->

<!--        <div class="trip-ad-content">-->
<!--          <div class="ad-title">-->
<!--            <h2>Explore The <span>Thailand Trip</span></h2>-->
<!--          </div>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna aliquam erat volutpat.</p>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna aliquam erat volutpat.</p>-->
<!--          <div class="trip-ad-btn">-->
<!--            <a href="" class="btn-blue btn-red">BOOK NOW</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-xs-12">-->
<!--        <div class="ad-price">-->
<!--          <div class="ad-price-inner">-->
<!--            <span>Starting at <span class="rate">$300</span></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- Trip Ad Ends -->

<!-- Deals On Sale -->
<section class="deals-on-sale">
  <div class="container">
    <div class="section-title text-center">
      <h2>Top Hotels</h2>
      <div class="section-icon">
        <i class="flaticon-diamond"></i>
      </div>
      <p>Finding a great luxury hotel is easy with us. More choice, more destinations. Check out our pick of best hotels in Pakistan</p>
      <br>
      <a href="<%=hotel_managers_path%>" class="btn-blue btn-red">View All Hotel Managers</a>
    </div>
    <div class="row sale-slider slider-button">
      <%= render'hotel', hotels:@hotels %>
    </div>
  </div>
</section>
<!-- Deals On Sale Ends -->

<!-- Testimonials -->
<section class="testimonials">
  <div class="section-title text-center">
    <h2>Best Rated Travel Agency</h2>
    <div class="section-icon section-icon-white">
      <i class="flaticon-diamond"></i>
    </div>
  </div>
  <!-- Paradise Slider -->
  <div id="testimonial_094" class="carousel slide testimonial_094_indicators thumb_scroll_x swipe_x ps_easeOutSine" data-ride="carousel" data-pause="hover" data-interval="3000" data-duration="1000">


    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#testimonial_094" data-slide-to="0" class="active">
        <img src="<%= image_path 'testemonial1.jpg'%>" alt="testimonial_094_01"> <!-- 1st Image -->
      </li>
      <li data-target="#testimonial_094" data-slide-to="1">
        <img src="<%= image_path 'testemonial2.jpg' %>" alt="testimonial_094_02"> <!-- 2nd Image -->
      </li>
      <li data-target="#testimonial_094" data-slide-to="2">
        <img src="<%= image_path 'testemonial3.jpg' %>" alt="testimonial_094_03"> <!-- 3rd Image -->
      </li>
      <li data-target="#testimonial_094" data-slide-to="3">
        <img src="<%= image_path 'testemonial4.jpg'%>" alt="testimonial_094_04"> <!-- 4th Image -->
      </li>

    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

      <!-- First Slide -->
      <div class="item active">
        <!-- Text Layer -->
        <div class="testimonial_094_slide">
          <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit am nibh unc varius facilisis eros ed erat in in velit quis arcu ornare laoreet urabitur adipiscing luctus massa nteger ut purus ac augue commodo commodo unc nec mi eu justo tempor consectetuer tiam.</p>
          <div class="deal-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
          <h5><a href="#">Susan Doe, Houston</a></h5>
        </div> <!-- /Text Layer -->
      </div> <!-- /item -->
      <!-- End of First Slide -->

      <!-- Second Slide -->
      <div class="item">
        <!-- Text Layer -->
        <div class="testimonial_094_slide">
          <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit am nibh unc varius facilisis eros ed erat in in velit quis arcu ornare laoreet urabitur adipiscing luctus massa nteger ut purus ac augue commodo commodo unc nec mi eu justo tempor consectetuer tiam.</p>
          <div class="deal-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
          <h5><a href="#">Susan Doe, Houston</a></h5>
        </div> <!-- /Text Layer -->
      </div> <!-- /item -->
      <!-- End of Second Slide -->

      <!-- Third Slide -->
      <div class="item">
        <!-- Text Layer -->
        <div class="testimonial_094_slide">
          <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit am nibh unc varius facilisis eros ed erat in in velit quis arcu ornare laoreet urabitur adipiscing luctus massa nteger ut purus ac augue commodo commodo unc nec mi eu justo tempor consectetuer tiam.</p>
          <div class="deal-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
          <h5><a href="#">Susan Doe, Houston</a></h5>
        </div> <!-- /Text Layer -->
      </div> <!-- /item -->
      <!-- End of Third Slide -->

      <!-- Fourth Slide -->
      <div class="item">
        <!-- Text Layer -->
        <div class="testimonial_094_slide">
          <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit am nibh unc varius facilisis eros ed erat in in velit quis arcu ornare laoreet urabitur adipiscing luctus massa nteger ut purus ac augue commodo commodo unc nec mi eu justo tempor consectetuer tiam.</p>
          <div class="deal-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
          <h5><a href="#">Susan Doe, Houston</a></h5>
        </div> <!-- /Text Layer -->
      </div> <!-- /item -->
      <!-- End of Fourth Slide -->

    </div> <!-- End of Wrapper For Slides -->
  </div> <!-- End Paradise Slider -->
</section>
<!-- Testimonials -->

<!-- Countdown -->
<section class="countdown-section">
  <div class="container">
    <div class="countdown-title">
      <h2>Special Tour in August, Discover <span>Hunza</span> for 30 Customers with <span>Discount 30%</span></h2>
      <p>It’s limited seating! Hurry up</p>
    </div>
    <div class="countdown countdown-container container">
      <p id="demo"></p>
    </div><!-- /.countdown-wrapper -->
  </div>
  <div class="testimonial-overlay"></div>
</section>
<!-- Countdown Ends -->

<!-- Blog -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>Our Blog</h2>
          <div class="section-icon">
            <i class="flaticon-diamond"></i>
          </div>
          <p>Despite having a number of problems, Pakistan is still atop of list of producing best blogs. Here are some of the top trending traveling blogs in Pakistan.</p>
        </div>
      </div>
      <%= render "welcome/blog", blogs: @blogs, col:"4" %>
    </div>
  </div>
</section>
<!-- Blog Ends -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="notifi">

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Trusted Partners -->
<section class="trusted-partners">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-4">
        <div class="partners-title">
          <h3>Our <span>Partners</span></h3>
        </div>
      </div>
      <div class="col-md-9 col-xs-8">
        <ul class="partners-logo partners-slider">
          <li><a href="#"><img src="<%= image_path 'partner1.png' %>" alt="Image"></a></li>
          <li><a href="#"><img src="<%= image_path 'partner2.png'%>" alt="Image"></a></li>
          <li><a href="#"><img src="<%= image_path 'partner3.png'%>" alt="Image"></a></li>
          <li><a href="#"><img src="<%= image_path 'partner4.png'%>" alt="Image"></a></li>
          <li><a href="#"><img src="<%= image_path 'partner5.png'%>" alt="Image"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Trusted Partners Ends -->