<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Bagpackers</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path "logo_bagpackers" %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>

    <%= javascript_include_tag "application", params[:controller] %>
    <%#= javascript_include_tag Ckeditor.cdn_url %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-us">
  </head>
  <body>
  <%= render 'users/header_user' %>
    <%= yield %>
  </body>
</html>
